{% load staticfiles %}
<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Associated Student Government{% endblock title %}</title>
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Lato:400,700,400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'style.css' %}" />
  <style>
  .footer {
    background: #545059 url({% static 'images/footer_shadow.png' %}) center top no-repeat;
  }
  </style>
  {% block head %}
  {% endblock head %}
</head>
<body>
  <div class="container">
    <div class="row header">
      <a href="/"><img class="header-image" src="{% static 'images/rock.jpg' %}" alt="" /></a>
      <nav class="navbar navbar-default navbar-inverse navbar-main" role="navigation">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Home</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
    
          <li class="dropdown">
          <a href="/about/">About ASG</a>
          <ul class="dropdown-menu pull-center">
            <li><a href="/mission/">Mission</a></li>
            <li><a href="#">Constitution</a></li>
            <li><a href="#">Get Involved</a></li>
            <li><a href="/contact/">Contact Us</a></li>
          </ul>
          </li>
          <li class="dropdown">
          <a href="/branches/">Branches</a>
          <ul class="dropdown-menu">
            <li><a href="#">Cabinet</a></li>
            <li class="divider"></li>
            <li><a href="#">Senators</a></li>
            <li><a href="#">Legislation</a></li>
            <li><a href="http://bit.ly/ASG-Senate-Minutes" target="_blank">Minutes</a></li>
          </ul>
          </li>
          <li>
          <a href="/for-students/">For Students</a>
          </li>
          <li>
            <a href="/for-groups/">For Groups</a>
          </li>
          <li class="dropdown">
          <a href="/advocacy/">Advocacy</a>
          <ul class="dropdown-menu">
            <li><a href="https://campusvoice.northwestern.edu/" target="_blank">Campus Voice</a></li>
            <li><a href="/office-hours/">Office Hours</a></li>
          </ul>
          </li>
          <li>
            <a href="/calendar/">Calendar</a>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
      </nav>
    </div>

{% block content %}
{% endblock content %}

    <div class="row footer">
      <div class="col-sm-4 col-sm-push-3 footer-text">
        <p>&copy; 2014 Associated Student Government<br>
        Norris University Center, Room 3F<br>
        1999 Campus Drive, Evanston, IL 60208<br>
        847-491-2360 | <a href="mailto:asg@u.northwestern.edu">asg@u.northwestern.edu</a>
        </p>
      </div>
      <div class="col-sm-5 col-sm-push-3 footer-text">
        <p>
        Have ideas? Get on <a href="https://campusvoice.northwestern.edu/" target="_blank">CampusVoice</a>!<br>
        Buy and sell textbooks on <a href="https://bookswap.northwestern.edu/" target="_blank">BookSwap</a>.<br>
        Earn money &mdash; use <a href="https://jobcat.northwestern.edu/" target="_blank">JobCat</a>.<br>
        <a href="#">ASG member login</a><br>
        </p>
      </div>
      <div class="col-sm-3 col-sm-pull-9 nu-logo">
        <img src="{% static 'images/nu_logo.png' %}" alt="">
      </div>
    </div>
  </div>

<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
{% block scripts %}
{% endblock scripts %}

</body>
</html>
