{% load staticfiles %}
{% load cropping %}
<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" property="og:description" content="{% block metadescription %}The website of Northwestern University's student government. Discover resources and services for yourself and for your student group.{% endblock metadescription %}">
  <meta property="og:image" content="https://asg.northwestern.edu/static/images/asg-logo.png">
  <meta name="google-site-verification" content="fMlRTbi5yMT7Zo4VmWiYziU2cr1q2bV7BP4_d_0Xdvo">
  <title>{% block title %}Associated Student Government{% endblock title %}</title>
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Lato:400,700,400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'style.css' %}" />
  <style>
  .footer {
    background: #545059 url({% static 'images/footer_shadow.png' %}) center top no-repeat;
  }
  </style>
  {% block head %}
  {% endblock head %}
</head>
<body>
  <div class="container">
    <div class="row header">
      {% if request.user.is_authenticated %}
      <div class="user-bar">
        <div class="col-sm-5">
        Logged in as {{ request.user.get_full_name }}
        </div>
        <div class="col-sm-7 text-right">
          {% with person=request.user.person_set.first %}
          {% if person.on_exec %}
          <a href="/tools/">Exec tools</a> | <a href="/admin/">Admin</a> |
          {% endif %}
          {% endwith %}
          <a href="/edit_profile/">Edit my profile</a> | <a href="/logout/">Log out</a>
        </div>
        <div class="clearfix"></div>
      </div>
      {% endif %}

      <div class="header-top">
        <div class="my-senator">
          {% if my_senator %}
          <div class="my-senator-desktop">
            <div class="title">My senator</div>
            {% if my_senator.photo %}
            <img src="{% cropped_thumbnail my_senator thumbnail_size %}" alt="">
            {% else %}
            <img src="/uploads/profile_photos/default.jpg" alt="">
            {% endif %}
            <div class="prompt"><a href="mailto:{{ my_senator.email }}">Email {{ my_senator.first_name }}</a></div>
          </div>
          <div class="my-senator-mobile">
            My senator is {{ my_senator.full_name }}. <a href="mailto:{{ my_senator.email }}">Email {{ my_senator.first_name }}</a>
          </div>
          {% else %}
          <div class="my-senator-desktop">
            <div class="title">My senator</div>
            <img src="/uploads/profile_photos/default.jpg" alt="">
            <div class="prompt"><a href="/senators/#table">Find my senator</a></div>
          </div>
          <div class="my-senator-mobile">
            <a href="/senators/#table">Find my senator</a>
          </div>
          {% endif %}
        </div>
        <a class="home-link" href="/"><img class="header-image" src="{% static 'images/rock.jpg' %}" alt="" /></a>
      </div>

      <nav class="navbar navbar-default navbar-inverse navbar-main" role="navigation">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Home</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
    
          <li class="dropdown">
          <a href="/about/">About ASG</a>
          <ul class="dropdown-menu pull-center">
            <li><a href="/mission/">Mission</a></li>
            <li><a href="/get-involved/">Get Involved</a></li>
            <li><a href="/contact/">Contact Us</a></li>
            <li><a href="/blog/">ASG's Blog</a></li>
            <li><a href="/constitution/">Constitution</a></li>
            <li><a href="/code/">Code</a></li>
          </ul>
          </li>
          <li class="dropdown">
          <a href="/our-work/">Our Work</a>
          <ul class="dropdown-menu">
            <li><a href="/projects/">Projects</a></li>
            <li><a href="/cabinet/">Cabinet</a></li>
            <li class="divider"></li>
            <li><a href="/legislation/">Legislation</a></li>
            <li><a href="/senators/">Senators</a></li>
            <li><a href="https://drive.google.com/folderview?id=0B4gULrpKf5KHaEJZSUhvbll0MjA&usp=drive_web#list" target="_blank">Minutes</a></li>
          </ul>
          </li>
          <li>
          <a href="/for-students/">For Students</a>
          </li>
          <li>
            <a href="/for-groups/">For Groups</a>
          </li>
          <li class="dropdown">
          <a href="/advocacy/">Advocacy</a>
          <!--<a href="/advocacy/" class="dropdown-toggle" data-toggle="dropdown">Advocacy</a>-->
          <ul class="dropdown-menu">
            <li><a href="https://campusvoice.northwestern.edu/" target="_blank">Campus Voice</a></li>
            <li><a href="/office-hours/">Office Hours</a></li>
          </ul>
          </li>
          <li class="last">
            <a href="/calendar/">Calendar</a>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
      </nav>
    </div>

{% block content %}
{% endblock content %}

    <div class="row footer">
      <div class="col-sm-4 col-sm-push-3 footer-text">
        <p>&copy; 2014 Associated Student Government<br>
        Norris University Center, Room 3F<br>
        1999 Campus Drive, Evanston, IL 60208<br>
        Email us: <a href="mailto:asg@u.northwestern.edu">asg@u.northwestern.edu</a>
        </p>
      </div>
      <div class="col-sm-5 col-sm-push-3 footer-text">
        <p>
        Have ideas? Get on <a href="https://campusvoice.northwestern.edu/" target="_blank">CampusVoice</a>!<br>
        Buy and sell textbooks on <a href="https://bookswap.northwestern.edu/" target="_blank">BookSwap</a>.<br>
        Earn money &mdash; use <a href="https://jobcat.northwestern.edu/" target="_blank">JobCat</a>.<br>
        {% if request.user.is_authenticated %}
        <a href="/edit_profile/">Edit my profile</a> | <a href="/logout/">Log out</a>
        {% else %}
        <a href="/login/">ASG member login</a>
        {% endif %}
        </p>
      </div>
      <div class="col-sm-3 col-sm-pull-9 nu-logo">
        <img src="{% static 'images/nu_logo.png' %}" alt="">
      </div>
    </div>
  </div>

<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45855343-3', 'northwestern.edu');
  ga('send', 'pageview');
</script>
{% block scripts %}
{% endblock scripts %}

</body>
</html>
