{% extends 'base.html' %}
{% load cropping %}

{% block title %}Cabinet | Associated Student Government{% endblock title %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1>Cabinet</h1>
    {% for member in exec_members %}
      {% if member.photo %}<img src="{% cropped_thumbnail member thumbnail_size %}"><br>{% endif %}
      {{ member.full_name }}<br>
      {{ member.positions.first.name }}<br>
      {{ member.positions.first.description }}<br><br>
    {% endfor %}
  </div>
</div>
{% endblock content %}
