{% extends 'base.html' %}
{% load cropping %}

{% block title %}Cabinet | Associated Student Government{% endblock title %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1>Cabinet</h1>
    <p>ASG's Executive Board and Senate Leadership</p>
  </div>
</div>

<div class="row">
{% for member in exec_members %}
<a href="/people/{{ member.id }}/{{ member.full_name|slugify }}/" class="col-lg-2 col-sm-3 col-xs-6 people-grid">
  {% if member.photo %}
  <img class="photo" src="{% cropped_thumbnail member thumbnail_size %}"><br>
  {% else %}
  <img class="photo" src="/uploads/profile_photos/default.jpg"><br>
  {% endif %}
  <div class="meta">
    <div class="name">{{ member.full_name }}</div>
    <div class="position-name">{{ member.main_position.name }}</div>
  </div>
</a>
{% endfor %}
</div>

{% endblock content %}


{% block scripts %}
<script>
  // Initialize popovers - bootstrap requires this for performance reasons
  $('a[data-toggle="popover"]').popover();
</script>
{% endblock scripts %}
