{% extends 'base.html' %}
{% load staticfiles %}
{% load util %}

{% block title %}{{ page_name }} | Associated Student Government{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'fullcalendar/fullcalendar.css' %}">
<style>
.fc-event:hover,
.fc-event:focus {
  color: white;
}
.fc-event {
  border: none;
  padding: 1px;
}
.calendar .fc-event {
  font-size: 14px;
}
h1 {
  margin-top: 0;
}
.fc-state-highlight {
  background-color: #FCF0B1;
}

{% for calendar in calendars %}
.cal-{{ calendar.slug }},
.cal-{{ calendar.slug }}:active {
  background-color: {{ calendar.event_color }};
}
.cal-{{ calendar.slug }}:hover,
.cal-{{ calendar.slug }}:focus {
  background-color: {{ calendar.event_color|darken }};
}
.toggle-{{ calendar.slug }}.on {
  color: white;
  background-color: {{ calendar.event_color }};
}
{% endfor%}
.loading {
  text-align: center;
}
</style>
{% endblock head %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    {% if not office_hours %}
    <div class="pull-right">
      {% for calendar in calendars %}
      <div class="btn btn-default {% if calendar.display_by_default %}on{% endif %} toggle-{{ calendar.slug }}">
        {{ calendar.name }}
      </div>
      {% endfor %}
    </div>
    {% endif %}
    <h1>{{ page_name }} <span class="loading">(loading...)</span></h1>
    <div class="calendar">
    </div>
  </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'fullcalendar/fullcalendar.min.js' %}"></script>
<script src="{% static 'fullcalendar/gcal.js' %}"></script>
<script>
var width_threshold = 550;
var calendar = $('.calendar').fullCalendar({
  eventSources: [
  {% for calendar in calendars %}
    {% if calendar.display_by_default %}
    {
      url: '{{ calendar.xml_feed_url }}',
      className: 'cal-{{ calendar.slug }}'
    },
    {% endif %}
  {% endfor %}
  ],
  eventClick: function(event) {
    window.open(event.url, 'gcalevent', 'width=400,height=300');
    return false;
  },
  loading: function(is_loading) {
    if (is_loading) {
      $('.loading').show();
    } else {
      $('.loading').hide();
    }
  },
  windowResize: function(view) {
    if ($(this).width() < width_threshold) {
      $(this).fullCalendar('changeView', 'agendaDay')
             .fullCalendar('option', 'height', 500);
    } else {
      $(this).fullCalendar('changeView', 'month');
    }
  },
  titleFormat: {
    /* Shorten title for day view */
    agendaDay: 'dddd',
  },
  minTime: 7,
  maxTime: 22,
  firstHour: 10,
});
/* resize on load */
if ($('.calendar').width() < width_threshold) {
  $('.calendar').fullCalendar('changeView', 'agendaDay')
                .fullCalendar('option', 'height', 500);
}

var display = {
{% for calendar in calendars %}
'{{ calendar.slug }}': {% if calendar.display_by_default %}true{% else %}false{% endif %},
{% endfor %}
};

{% for calendar in calendars %}
$('.toggle-{{ calendar.slug }}').click(function() {
  if (display['{{ calendar.slug }}']) {
    calendar.fullCalendar('removeEventSource', '{{ calendar.xml_feed_url }}');
    /* $('.cal-{{ calendar.slug }}').remove(); */
  } else {
    calendar.fullCalendar('addEventSource', {
      url: '{{ calendar.xml_feed_url }}',
      className: 'cal-{{ calendar.slug }}'
    });
    /* calendar.fullCalendar('rerenderEvents'); */
  }
  $(this).toggleClass('on');
  display['{{ calendar.slug }}'] = !display['{{ calendar.slug }}'];
});
{% endfor %}

</script>
{% endblock scripts %}
