{% extends 'base.html' %}
{% load staticfiles %}
{% load util %}

{% block title %}Calendar | Associated Student Government{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'fullcalendar/fullcalendar.css' %}">
<style>
.fc-event:hover,
.fc-event:focus {
  color: white;
}
.fc-event {
  border: none;
  padding: 1px;
}
.calendar .fc-event {
  font-size: 14px;
}
h1 {
  margin-top: 0;
}

{% for calendar in calendars %}
.cal-{{ calendar.slug }},
.cal-{{ calendar.slug }}:active {
  background-color: {{ calendar.event_color }};
}
.cal-{{ calendar.slug }}:hover,
.cal-{{ calendar.slug }}:focus {
  background-color: {{ calendar.event_color|darken }};
}
.toggle-{{ calendar.slug }}.on {
  color: white;
  background-color: {{ calendar.event_color }};
}
{% endfor%}
.loading {
  text-align: center;
}
</style>
{% endblock head %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
      {% for calendar in calendars %}
      <div class="btn btn-default on toggle-{{ calendar.slug }}">
        {{ calendar.name }}
      </div>
      {% endfor %}
    </div>
    <h1>Calendar <span class="loading">(loading...)</span></h1>
    <div class="calendar">
    </div>
  </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'fullcalendar/fullcalendar.min.js' %}"></script>
<script src="{% static 'fullcalendar/gcal.js' %}"></script>
<script>
var calendar = $('.calendar').fullCalendar({
  eventSources: [
  {% for calendar in calendars %}
    {
      url: '{{ calendar.xml_feed_url }}',
      className: 'cal-{{ calendar.slug }}'
    },
  {% endfor %}
  ],
  eventClick: function(event) {
    window.open(event.url, 'gcalevent', 'width=400,height=300');
    return false;
  },
  loading: function(is_loading) {
    if (is_loading) {
      $('.loading').show();
    } else {
      $('.loading').hide();
    }
  }
});

var display = {
{% for calendar in calendars %}
  '{{ calendar.slug }}': true,
{% endfor %}
};

{% for calendar in calendars %}
$('.toggle-{{ calendar.slug }}').click(function() {
  if (display['{{ calendar.slug }}']) {
    calendar.fullCalendar('removeEventSource', '{{ calendar.xml_feed_url }}');
    /* $('.cal-{{ calendar.slug }}').remove(); */
  } else {
    calendar.fullCalendar('addEventSource', {
      url: '{{ calendar.xml_feed_url }}',
      className: 'cal-{{ calendar.slug }}'
    });
    /* calendar.fullCalendar('rerenderEvents'); */
  }
  $(this).toggleClass('on');
  display['{{ calendar.slug }}'] = !display['{{ calendar.slug }}'];
});
{% endfor %}

</script>
{% endblock scripts %}
