{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Edit my profile | Associated Student Government{% endblock title %}

{% block head %}
  {{ person_form.media }}
{% endblock head %}

{% block content %}
<div class="row">
  <div class="col-md-10">
    {% if update_success %}
    <div class="alert alert-info">Changes saved.</div>
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col-md-10">
    <div class="pull-right">
      <a class="btn btn-default" href="/people/{{ person.id }}/{{ person.full_name|slugify }}/">View my profile</a>
      {% if person.on_exec %}
      <a class="btn btn-default" href="/admin/">Go to Admin</a>
      {% endif %}
    </div>
    <h1>Edit my profile</h1>
    {% crispy person_form %}
  </div>
</div>
{% endblock content %}

