{% extends 'base.html' %}


{% block title %}Exec board tools | Associated Student Government{% endblock title %}

{% block content %}
<div class="row">
  <div class="col-sm-6">
    <h1>Exec tools and options</h1>
    <h3>Data export</h3>
    <p>
      <a href="/export_roster/" class="btn btn-default">Export entire roster as CSV</a>
    </p>
    <h3>Report generation</h3>
    <p>
      <a href="/pdfs/projects/" class="btn btn-default">Generate PDF summary of active projects</a>
    </p>
    <p>
      <a href="/pdfs/resources/" class="btn btn-default">Generate PDF summary of active resources</a>
    </p>

  </div>
</div>


{% endblock content %}
