{% extends 'base.html' %}
{% load staticfiles cropping %}

{% block title %}Northwestern Associated Student Government{% endblock title %}

{% block content %}
    {% if alerts.count %}
    <div class="row">
      <div class="col-md-12">
        {% for alert in alerts %}
        <div class="alert alert-info">{{ alert.message|safe }}</div>
        {% endfor %}
      </div>
    </div>
    {% endif %}

    <div class="row">
      <div class="col-md-5 col-md-push-7 col-lg-6 col-lg-push-6 homepage-news">
        <h3>Latest News</h3>
        <ul class="no-bullets">
          {% for piece in news %}
          <li>
          <p><a {% if piece.link_title_to %}target="_blank" href="{{ piece.link_title_to }}"{% else %}href="/news/{{ piece.date_posted|date:'Y' }}/{{ piece.date_posted|date:'m' }}/{{ piece.slug }}/?from_homepage"{% endif %}>{{ piece.title }}</a></p>
            <small>{{ piece.message|safe|truncatewords_html:30 }}{% if not piece.link_title_to %}<a href="/news/{{ piece.date_posted|date:'Y' }}/{{ piece.date_posted|date:'m' }}/{{ piece.slug }}/?from_homepage">Read more &raquo;</a>{% endif %}</small>
          </li>
          {% endfor %}
        </ul>
        <p><a class="btn btn-default" href="/news/">Older news &raquo;</a><a class="btn btn-default" href="/blog/">Read the Blog &raquo;</a></p>
      </div>

      <div class="col-md-7 col-md-pull-5 col-lg-6 col-lg-pull-6 homepage-slideshow">
        <ul class="rslides">
          {% for slide in slides %}
          <li>
          {% if slide.link %}<a href="{{ slide.link }}" target="_blank">{% endif %}
            <img src="{% cropped_thumbnail slide image_crop %}" alt="">
          {% if slide.caption %}<p class="caption">{{ slide.caption }}</p>{% endif %}
          {% if slide.link %}</a>{% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 col-md-3">
        <h3>Upcoming events</h3>
        <ul class="events">
          <p class="loading">Loading...</p>
        </ul>
        <p><a class="btn btn-default" href="/calendar/">All events &raquo;</a></p>
      </div>

      <div class="col-sm-4 col-md-4">
        <h3>Recent legislation</h3>
        <ul class="legislation">
          {% for bill in bills %}
          <li>
            <a href="{{ bill.link }}" target="_blank">{{ bill.code }}: {{ bill.name }}</a><br>
            <small>{{ bill.get_status_display }}{% if bill.status_date %} on {{ bill.status_date}}{% endif %}</small>
          </li>
          {% endfor %}
        </ul>
        <p><a class="btn btn-default" href="/legislation/">Browse all legislation &raquo;</a></p>
      </div>

      <div class="col-sm-4 col-md-5">
        <h3>ASG in the Media</h3>
        <ul class="in-news">
          {% for news_link in news_links %}
          <li>
          <a href="{{ news_link.link }}" target="_blank">{{ news_link.name }}</a><br>
            <small>{{ news_link.get_source_display }} - {{ news_link.date_published|date:'F d, Y' }}</small>
          </li>
          {% endfor %}
        </ul>
        <p><a class="btn btn-default" href="/in-the-news/">Other articles &raquo;</a></p>
      </div>
    </div>
{% endblock content %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/responsiveslides.min.js' %}"></script>
<script>
$('.rslides').responsiveSlides({
  auto: true,
  speed: 800,
  pager: true,
  pause: true,
});

var events = {
{% for calendar in calendars %}
  '{{ calendar.slug }}': null,
{% endfor %}
};
var calendarIds = {
{% for calendar in calendars %}
  '{{ calendar.slug }}': '{{ calendar.calendar_id }}',
{% endfor %}
};

var now = new Date();
var currentTime = now.toISOString();

$('.events').on('click', '.event-link', function() {
  window.open($(this).data('url'), 'gcalevent', 'width=400,height=300');
  return false;
});

var days = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];
var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
var renderEvent = function(event) {
  // Assemble the date/location part
  var d = new Date(Date.parse(event.start.dateTime));
  var hours = d.getHours();
  if (hours > 12) {
    hours -= 12;
    var ampm = 'pm'
  } else {
    var ampm = 'am'
  }
  var desc = hours.toString() ;
  if (d.getMinutes() !== 0) {
    desc += ':' + d.getMinutes().toString();
  }
  if (event.location !== undefined) {
    var location = ', ' + event.location;
  } else {
    var location = '';
  }
  desc += ampm + ' ' + days[d.getDay()] + ' ' + months[d.getMonth()] +
          ' ' + d.getDate().toString() + location;

  // Add it to the DOM
  $('.events').append('<li><a href="' + event.htmlLink + 
    '" target="_blank" class="event-link" data-url="' + 
    event.htmlLink + '">' + event.summary + '</a><br><small>' +
    desc + '</small></li>');
};

var compareEvents = function(a, b) {
  // Compare two events based on their start.dateTime properties
  var aTime = Date.parse(a.start.dateTime);
  var bTime = Date.parse(b.start.dateTime);
  if (aTime < bTime) {
    return -1;
  } else if (aTime === bTime) {
    return 0;
  } else {
    return 1;
  }
}

var processEvents = function() {
  var allEvents = [];
  for (var name in events) {
    if (events[name] === null) {
      return;
    }
    allEvents = allEvents.concat(events[name].items);
  }

  // Get the five soonest upcoming events
  var upcomingEvents = allEvents.sort(compareEvents).slice(0, 5);

  // Display the events
  $('.loading').remove();
  upcomingEvents.map(renderEvent);
};

var getEventsFor = function(calendarName, params) {
  $.getJSON(url, params, function(data) {
    events[calendarName] = data;
    processEvents();
  });
};

// Get events for each calendar
for (var name in calendarIds) {
  var url = 'https://www.googleapis.com/calendar/v3/calendars/'
              + calendarIds[name] + '/events';
  var params = {
    maxResults: 5,
    orderBy: 'startTime',
    singleEvents: true,
    timeMin: currentTime,
    key: 'AIzaSyBYQtPZrwEAmgohdEwuuyXwrRCu_VD9Slo'
  };
  getEventsFor(name, params);
}


</script>
{% endblock scripts %}
