{% extends 'base.html' %}

{% block title %}Announcements | Associated Student Government{% endblock title %}

{% block content %}
<div class="row">
  <div class="col-md-9">
    <h1>Announcements</h1>
    {% for announcement in announcements %}
      <h3><a href="/announcements/{{ announcement.slug }}">{{ announcement.title }}</a></h3>
      <p class="text-muted">Posted {{ announcement.date_posted|date:"f a \o\n F d, Y" }}</p>
      {{ announcement.message|safe }}
    {% endfor %}
  </div>
</div>

{% with url='/announcements/' %}
{% include 'paginator.html' %}
{% endwith %}

{% endblock content %}
