{% extends 'base.html' %}

{% block title %}News | Associated Student Government{% endblock title %}

{% block head %}
<style>
.news + .news {
  margin-top: 40px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}
</style>
{% endblock head %}

{% block content %}
<div class="row">
  <div class="col-md-9">
    <h1>News</h1>
    {% for piece in news %}
    <div class="news">
      <h3><a href="/news/{{ piece.date_posted|date:'Y' }}/{{ piece.date_posted|date:'m' }}/{{ piece.slug }}/">{{ piece.title }}</a></h3>
      <p class="text-muted">Posted on {{ piece.date_posted|date:"l, F d, Y" }}</p>
      {{ piece.message|safe }}
    </div>
    {% endfor %}
  </div>
</div>

{% with url='/news/' %}
{% include 'paginator.html' %}
{% endwith %}

{% endblock content %}
