{% extends 'base.html' %}

{% block title %}{{ news.title }} | Associated Student Government{% endblock title %}

{% block content %}
<div class="row">
  <div class="col-md-9">
    {% if from_homepage %}
    <p><a class="btn btn-default" href="/">&laquo; Back to homepage</a></p>
    {% else %}
    <p><a class="btn btn-default" href="/news/">&laquo; Back to news</a></p>
    {% endif %}
    <h1>{{ news.title }}</h1>
    <p class="text-muted">Posted {{ news.date_posted|date:"f a \o\n F d, Y" }}</p>
    {{ news.message|safe }}
  </div>
</div>
{% endblock content %}
