{% extends 'base.html' %}
{% load cropping %}

{% block title %}{{ person.full_name }} | Associated Student Government{% endblock title %}

{% block content %}
<div class="row">
  <div class="col-md-9">
    <div class="row">
      <div class="col-sm-8 col-sm-push-4 person-meta">
        <h2>{{ person.full_name }}</h2>
        <p class="position"><strong>{% for position in person.positions.iterator %}{{ position.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</strong></p>
        {% if person.is_senator %}
        <p>Represents {{ person.groups_represented }}</p>
        {% endif %}
        {% if person.committee_set.count > 0 %}
        <p>{% for committee in person.committee_set.iterator %}{{ committee.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
        {% endif %}
        {% with person.main_position as main_position %}
        {% if main_position.on_exec_board and main_position.email %}
        <p><a href="mailto:{{ main_position.email }}">{{ main_position.email }}</a></p>
        {% else %}
        <p><a href="mailto:{{ person.email }}">{{ person.email }}</a></p>
        {% endif %}
        {% endwith %}
        {% if person.date_joined %}
          <p>Joined ASG on {{ person.date_joined|date:'F d, Y' }}</p>
        {% endif %}
        {% if request.user == person.user %}
        <a class="btn btn-default person-edit" href="/edit_profile/">Edit my profile</a>
        {% elif person == my_senator %}
        <strong>{{ person.first_name }} is my senator.</strong> <a href="/select-senator/?clear">(click to clear)</a>
        {% elif person.is_senator %}
        <a href="/select-senator/?senator_id={{ person.id }}">Make {{ person.first_name }} my senator</a>
        {% endif %}
      </div>
      {% if person.photo %}
      <img class="photo col-sm-4 col-sm-pull-8" src="{% cropped_thumbnail person thumbnail_size %}"><br>
      {% else %}
      <img class="photo col-sm-4 col-sm-pull-8" src="/uploads/profile_photos/default.jpg">
      {% endif %}
    </div>

    {% if person.bio %}
    <p class="person-bio">{{ person.bio }}</p>
    {% else %}
    <p class="person-bio text-muted"><em>{{ person.first_name }} doesn't have a bio.</em></p>
    {% endif %}
  </div>
</div>
{% endblock content %}
