{% extends 'base.html' %}

{% block title %}{{ project.name }} | Associated Student Government{% endblock title %}

{% block content %}
<div class="row">
  <div class="col-md-9">
    <a class="btn btn-default" href="/projects/">&laquo; Back to list of projects</a>
    <h1>{{ project.name }}</h1>
    <p>{% for committee in project.committees.iterator %}{{ committee.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
    {% if project.primary_contact %}
    <p>Primary contact: <a href="mailto:{{ project.primary_contact.full_name }}">{{ project.primary_contact.full_name }}</a></p>
    {% endif %}
    {% if project.members.count > 1 %}
    <p>Members:{% for member in project.members.iterator %}{{ member.full_name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
    {% endif %}
    {{ project.description|safe }}
  </div>
</div>
{% endblock content %}
